body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  font-weight: 300;
}

.right-sidebar {
  background-color:#121212;
}

.desktop-search {
  background-color:#181818;
  height:100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.popularSong {
    border-bottom:1px solid #282828;
    cursor:pointer;
    height:40px;
    vertical-align:middle;
    line-height:40px;
}

.popularSongSpacer {
    border-bottom:1px solid #282828;
    height:40px;
}

.relatedArtist {
    cursor:pointer;
    margin-right:24px;
    padding:4px 0;
}

.popularSong:hover, .relatedArtist:hover {
  background-color:#282828;
}

.popularSong img {
  margin-right:24px;
}

.relatedArtist img {
  margin-right:12px;
}

.thin {
  width:60px;
  text-align:center;
}

.thin i {
  visibility: hidden;
}

#track-table {
  table-layout:fixed;
  width:90%;
  margin-left:5%;
}

#track-table th {
  color:#a0a0a0;
  font-weight:lighter;
  letter-spacing: 2px;
  font-size:10pt;
}
#track-table tr {
  border-bottom:1px solid #282828;
}

#track-table tr:hover {
  background-color:#282828;
}

#track-table tr:hover i {
  visibility: visible;
}
#track-table td {
  color:#fff;
  padding:10px;
  padding-left:0px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#track-table a {
  text-decoration: none;
  color:white;
}
#track-table a:hover {
  text-decoration: underline;
}
.clickable, .performs-search {
  cursor:pointer;
}

.desktop-search .form-group {
  z-index:1039;
  position:fixed;
  background-color:#121212;
  width:100%;
  padding:12px;
  padding-right:70%;
}

.thumb {
  margin:1em 0em;
}

.thumb img {
    cursor:pointer;
}

.thumb p {
  background-color:#282828;
  width:100%;
  padding:12px;
  cursor:pointer;
}

.av p {
    color:#a0a0a0;
    margin-top:1.7em;
}

.av p a {
    color:white;
}

#desktop-results {
  margin-top:70px;
  color:white;
}

#desktop-results h4 {
  font-weight:bold;
  margin-bottom:0.5em;
}

#desktop-results .jumbotron {
  background-size:cover;
  background-position: center center;
  height:25vh;
  margin-top:-16px;
  padding:0px;
}

#desktop-results .jumbotron h1 {
  background: rgba(24,24,24,0.27);
  background: -moz-linear-gradient(top, rgba(24,24,24,0.27) 0%, rgba(24,24,24,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(24,24,24,0.27)), color-stop(100%, rgba(24,24,24,1)));
  background: -webkit-linear-gradient(top, rgba(24,24,24,0.27) 0%, rgba(24,24,24,1) 100%);
  background: -o-linear-gradient(top, rgba(24,24,24,0.27) 0%, rgba(24,24,24,1) 100%);
  background: -ms-linear-gradient(top, rgba(24,24,24,0.27) 0%, rgba(24,24,24,1) 100%);
  background: linear-gradient(to bottom, rgba(24,24,24,0.27) 0%, rgba(24,24,24,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#181818', GradientType=0 );
  font-size:4vw;
  padding-left:24px;
  height:100%;
  white-space: nowrap;
  padding-top:11vh;
}

#desktop-results h1 {
  font-weight:bold;
}

#topTracks, #related {
  padding-left:24px;
}

#albumTracks {
  padding:0 24px;
}

#albumTracks .popularSong {
  padding-left:16px;
}

.spot {
  letter-spacing:2px;
}

.spotify {
	border: 0;
	padding: 5px 10px;
	border-radius: 20px;
	background-color: #ddd;
	outline: none;
  width:100%;
}

.spotify:focus {
  background-color: #ddd;
}

.input-group-addon {
  border: 0;
  padding: 5px 10px;
  border-radius: 20px 0px 0px 20px;
  background-color: #ddd;
  outline: none;
}

.song-queue {
    height:65vh;
    overflow-y:auto;
    width:100%;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    background-color:#121212;
}

.queued-song {
    background-color:#121212;
    border-bottom:1px solid #282828;
    color:#a0a0a0;
    padding:12px;
}

.queued-song:hover {
    color:white;
}
.song-queue .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.song-queue .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

@media (min-width: 992px) {
    .song-queue {
        height:79vh;
    }
}

.mobile-search {
   padding:10px;
   height:8vh;
   min-height:40px;
   vertical-align:middle;
   background-color:#121212;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.now-playing {
  height:27vh;
  min-height:150px;
  padding:30px 10px;
  background-color:#282828;
  margin:0px;
  background-size:cover;
}

@media (min-width: 992px) {
    .now-playing {
        height:21vh;
    }
}

.now-playing .album {
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.now-playing .album-holder {
    position: relative;
}

.now-playing .description {
    padding-left:16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.now-playing .song {
    font-size:18pt;
}
.now-playing .artist {
    font-size:16pt;
}

@media (min-width: 576px) {
  .now-playing .song {
      font-size:20pt;
  }
  .now-playing .artist {
      font-size:18pt;
  }
}

@media (min-width: 992px) {
  .now-playing .song {
      font-size:16pt;
  }
  .now-playing .artist {
      font-size:12pt;
  }
}

.iphone-spacer {
    width:100%;
    height:64px;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1035; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #121212; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 0%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: left; /* Centered text/links */
    margin-top:36px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.btn-success {
  border-color:rgba(0, 0, 0, 0.5);
  border-left-color:rgba(0, 0, 0, 0.15);
}

.overlay-content .media {
  overflow:hidden;
  white-space: nowrap;
  margin-bottom: 4px;
      padding:0 20px;
}

.desc {
  padding-left:74px;
  padding-top:8px;
  margin:auto;
}
.song {
  color:#fff;
}
.artist {
    color:#a0a0a0;
}
.no-margins {
  margin:0px;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    z-index: 1036; /* Sit on top */
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 48pt;
}

::-webkit-scrollbar-track {
  background-color: #1c1c1f;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #1c1c1f;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border: 1px solid #1c1c1f;
  border-radius: 10px;
  background-color: #323438;
}
::-webkit-scrollbar-corner {
  background-color: #1c1c1f;
}
